div{
    background-color: #ccc;
    width: 250px;
    height: 200px;
    margin: 10px;
    border-radius: 5px;
    border-right: 5px;
    float: left;
}
.box1{
    box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.6);
}
.box2{
    box-shadow: 0 0 20px rgba(30, 144, 255, 0.53);
}
.box3{
    box-shadow: 10px 10px 0 crimson;
}
.box4{
    box-shadow: inset 0 0 20px rgba(0, 0, 0, 0.43);
}
.box5{
    box-shadow: inset 0 0 20px rgba(255, 255, 255, 0.91);
}
.box6{
    box-shadow: inset 0 0 100px rgba(0, 0, 0, 0.91);
}