div{
    width: 200px;
    height: 200px;
    background-color: dodgerblue;
    border:10px solid orange;
    margin: 10px;
    float:left;
}
.box1{
    border-radius: 20px;
}
.box2{
    border-radius: 50px;
}
.box3{
    border-radius: 50%;
}
.box4{
    border-radius: 50px 0px 50px 0px;
}
.box5{
    border-radius: 200px 0 0 0;
}
.box6{
    border-radius: 200px 200px 200px 0;
}
.box7{
    border-radius: 200px 0px 200px 0px;
}
.box8{
    border-radius: 200px 200px 0px 0px;
}