body{
    font-size: 15px;
    line-height: 1.6em;
}
h1{
    font-weight: normal;
    color: rgba(0,0,0,0.5);
    text-decoration: underline;
}
p.text{
    font-weight: bold;
    font-style: italic;
}
p.copy{
    text-transform: uppercase;
    text-align: center;
}